{
    "printWidth": 120,
    "tabWidth": 4,

    "singleQuote": true,
    "useTabs": false,
    "trailingComma": "all",

    "bracketSpacing": true,
    "arrowParens": "avoid",
    "semi": true,
    "endOfLine": "auto"
}
